#crypto-page {
  height: calc(100vh - 70px);
  background-color: $secondary;
  padding: 0 16px;

  #crypto-responsive-container {
    flex-direction: column;
    align-items: center;

    @media (min-width: 1420px) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .crypto-dropdown-menu {
    height: 500px;

    overflow-y: scroll;
  }

  .chart-container {
    max-width: 900px;
    max-height: 600px;
    width: 100%;
  }

  .coin-stats-container {
    max-width: 650px;
  }

  #coin-stats {
    padding: 8px;
    width: 100%;
    max-width: 650px;
    .coin-name {
      font-weight: 400;
    }
  }
}

.buy-section {
  width: 500px;
}

input {
  height: 37px;
}
