@import "@fontsource/montserrat";
@import "./header.module.scss";
@import "./homepage.module.scss";
@import "./colors.scss";
@import "./buttons.scss";
@import "./cryptopage.module.scss";
@import "./account.module.scss";
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.recharts-wrapper .recharts-cartesian-grid-horizontal line:first-child,
.recharts-wrapper .recharts-cartesian-grid-horizontal line:last-child {
  stroke-opacity: 0;
}
