@import "./colors.scss";
#header {
  height: 70px;
  background-color: #fff;
  justify-content: center;

  .user-status-container {
    display: none;
  }
  @media (min-width: 600px) {
    .user-status-container {
      display: block;
    }

    justify-content: space-between;
  }
}

.return {
  text-decoration: none;
  &:hover {
    color: initial;
  }
}

.header-logo {
  width: 75px;
}

.account-button {
  margin: 0 12px;
}
