@import "./colors.scss";
#header {
  color: white;
  height: 70px;
  background-color: #181a1b;
  justify-content: center;

  .user-status-container {
    display: none;
  }
  .user-profile img {
    width: 48px;
    border-radius: 50%;
    margin-right: 12px;
  }
  @media (min-width: 600px) {
    .user-status-container {
      display: block;
    }

    justify-content: space-between;
  }
}

.return {
  text-decoration: none;
  &:hover {
    color: initial;
  }
}

.header-logo {
  width: 75px;
}

.account-button {
  margin: 0 12px;
}
